/* Global */
:root {
  --text-color: #ffffff;
  --background-color: #263343;
  --accent-color: #d49466;
}

* {
  /* Tells the browser to account for any border and 
  padding in the values you specify for an element's 
  width and height. */
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro';
  }

a {
  text-decoration: none;
  color: var(--text-color);
  }  

/* Nav container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: var(--background-color);
}

/* Logo with text */
.navbar__logo {
  font-size: 24px;
  color: var(--text-color);
  padding: 50;
  opacity: 0.9;
}

.navbar__logo i {
  color: var(--accent-color);
}

/* Menu */
.navbar__menu {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: var(--accent-color);
  border-radius: 4px;
}
.navbar__icons {
  list-style: none;
  color: var(--text-color);
  display: flex;
  padding-left: 0;
}

h1 {
    padding-top: 3px;
    color: red;
    border: 3px solid blue;
    border-radius: 10%;
    border-top: 5px;
    border-bottom: 5px;
    border-left: 5px;
    border-right: 5px;
    border-style: double;
    text-align: center;
    font-family: cursive;
  }
 
  .moto {
    color: rgb(64, 10, 114);
  }

p {
    color: lightgreen;
    font-weight: bold;
  }

h2 {
    color: blue;
}
.heading-background {
    background-color: aqua;
  }

table, thead, tbody, th, tr, td {
    border: solid 3px rgba(8, 58, 61, 0.514);
    padding: 5px;
    text-align: center;
    line-height: normal;
    color: darkorange;
  }

.caption {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-style: italic;
  margin: auto;
  padding: 1px;
  position: relative;
  top: 80%;
  width: auto;
  background-color: rgb(11, 221, 169);
  color: black;
  opacity: 0.8;
}